

<ul class="nav nav-list">
<li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
<li><a href="#"><i class="icon-camera"></i> New photo</a></li>
<li><a href="#"><i class="icon-remove"></i> Delete photo</a></li>
<li><a href="#"><i class="icon-tags"></i> Tag photo</a></li>
<li><a href="#"><i class="i"></i> Misc</a></li>
</ul



<h1>Users</h1>
 	  <table class="table table-striped">
    <caption><h1></h1></caption>
    <thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>  <%= current_user.name %> </td>
    <td> <%= current_user.email %></td>
    </tr>
    </tbody>
    </table>


<li></li>
      <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">1.............. <img src= " https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQYLYZDez5EhnJYfO_V1RyXl4zoHzkAWVC6my-xpMqMTYbVxK-q0Q"  class="img-circle"> </div>
        <div class="item">2.............<img src="http://4.bp.blogspot.com/-LEcjzdCPrJs/T5wi696veHI/AAAAAAAACN4/OywXdMb0r5Q/s1600/ondarroagg.jpg"  class="img-circle"></div>
        <div class="item">3 ...........<img src="http://upload.wikimedia.org/wikipedia/commons/2/26/Gaztelugatxe_4199995260.jpg"  class="img-circle"></div>
       
        <!-- Carousel nav -->
        <a class="carousel-control left" href="myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <span class="label label-warning">Proving</span>

 

    <a class="btn btn-large" href="#"><i class="icon-star"></i> Star prove</a>

        <div class="navbar navbar-inverse">
  
    </div>


   








