<h1>Users</h1>
 	  <table class="table table-striped">
    <caption><h1></h1></caption>
    <thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>...</td>
    <td>...</td>
    </tr>
    </tbody>
    </table>


