<div class="footer">
			    
		    <small>
		    	<%= link_to "Ekaitztter", "http://onemonthrails.com" %>
		    	by <%= link_to "Ekaitz Solabarrieta", "http://mattangriffel.com" %>
		    </small>

		     
		</div>