<div class="footer">
			    <div class="progress progress-striped">
    					<div class="bar" style="width: 20%;"></div>
    			</div>
		    <small>
		    	<%= link_to "Ekaitztter", "http://onemonthrails.com" %>
		    	by <%= link_to "Ekaitz Solabarrieta", "http://mattangriffel.com" %>
		    </small>

		        <div class="progress progress-striped">
  						<div class="bar" style="width: 20%;"></div>
    				</div>
		</div>